@import "tailwindcss";

@theme {
  --color-brand-primary: #e05a36; /* Terracotta orange */
  --color-brand-secondary: #2d3136; /* Deep Charcoal */
  --color-brand-tertiary: #f4ede3; /* Warm Gray/Beige */
  --color-brand-bg: #fdfbf7; /* Cream background */

  --font-serif: "Georgia", "serif";
  --font-sans: "Inter", "sans-serif";
}

body {
  background-color: var(--color-brand-bg);
  color: var(--color-brand-secondary);
  font-family: var(--font-sans);
}
